@{
    ViewBag.Title = "About Movie Friends";
    ViewBag.Message = "Ever wasted your time on a bad movie?...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Movie friends answers the question, "I wonder what movies are good right now."  Why not
    ask your friends who like movies?  Movie friends allows your friends and you to 
    communicate about the movies you loved--and hated--by recording your personalized reviews
    of the movies you've watched.  Since people are usually drawn to friends with similar
    interests, and similar tastes, who better to ask when looking for that next movie to watch?</p>
