@{
    ViewBag.Title = "Contact us";
    ViewBag.Message = "If you have ideas for making Movie Friends better, we'd love to hear from you!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One MovieFriends Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ideas@moviefriends.com">ideas@moviefriends.com</a><br />
</address>